@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Montserrat:wght@400;700&family=Lobster&family=Pacifico&family=Oswald:wght@400;700&family=Playfair+Display:wght@400;700&family=Merriweather:wght@400;700&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.dropDownProfile {
  position: absolute;
  top: 3.5rem;
  /* right: 1.5rem; */
  /* width: 120px; */
  border-radius: 8px;
  padding: 15px;
  background-color: white;
  border: 3px solid transparent;
  box-shadow: 0 -.4rem 2.6rem -1.2rem rgba(116, 133, 163, .2), 0 9rem 8rem -5rem rgba(116, 133, 163, .4);
}

.dropDownLink {
  color: black;
  font-size: 15px;
  position: relative;
  transition: all 0.4s;
}

.dropDownLink::after {
  content: '';
  height: 4px;
  width: 100%;
  background-color: rgb(0, 183, 255);
  position: absolute;
  left: 0;
  bottom: -0px;
  opacity: 0;
  transition: all 0.5s;
  pointer-events: none;
}

.dropDownLink:hover::after {
  opacity: 1;
}


.dropDownProfile::before {
  position: absolute;
  top: -0.7rem;
  right: 1.1rem;
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  background-color: white;
  border-left: 1px solid gray;
  border-top: 1px solid gray;
}

.content {
  display: none;
}

.tag {
  color: black;
  font-size: 20px;
  font-weight: 600;
  border: 2px solid transparent;
  border-radius: 20px;
  width: 108px;
  text-align: center;


}

.tag:hover {
  background-color: blue;
  color: white;
  transition: all 0.4s;
}